body {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
#banner {
  background-color: #3466af;
  color: #dedede;
  text-align: left;
  padding: 3px 10px;
  font-size: 15px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
}
#buttons-banner {
  background-color: #ffffff;
  text-align: left;
  padding: 5px 5px;
  position: fixed;
  width: 100%;
  top: 22px;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
}
.button {
  background-color: #3466af;
  color: #dedede;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  display: inline-block;
  margin: 0 1px;
  box-sizing: border-box;
}
.button:hover,
.button:active {
  background-color: #4976b7;
}
#drag-container {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url('https://github.com/DracoFabz/DracoFabz.github.io/raw/main/Layout.png') no-repeat top left;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}
.card {
  position: absolute;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: transform 0.3s;
}
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid grey;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
#popup h2 {
  margin-top: 0;
  font-size: 15px;
}
#text-input {
  width: 100%;
  height: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px -10px;
  padding: 10px;
  resize: none;
}
#popup-buttons {
  text-align: center;
}
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: none; /* Hidden by default */
  max-width: 200px;
  word-wrap: break-word;
  z-index: 1000;
}
.tooltip.show {
  display: block;
}
#loading-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  box-sizing: border-box;
}
#loading-bar {
  width: 0%;
  height: 30px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 30px; /* Center text vertically */
  margin-bottom: 10px;
}



#message-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  width: 330px;
  height: 430px;
}

#message-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-input {
  width: 300px;
  height: 15px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

#phone-input {
  width: 300px;
  height: 15px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

#message-input {
  width: 300px;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

#send-message-button,
#back-message-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}